<h1>Add New Book</h1>
<div class="row">
    <div class="col-md-8">
        <form method="POST" action="/books/add">
            <div class="mb-3">
              <label for="bookTitle" class="form-label">Book Title</label>
              <input type="text" name="title" placeholder="Book Title" required class="form-control" id="bookTitle">
            </div>
            <div class="mb-3">
                <select class="form-select" name="authorId" id="author" required >
                    <option value="">Select an Author</option>
                    <% authors.forEach(author=>{ %>
                        <option value="<%= author.id%>">
                            <%= author.name%>
                        </option>
                    <%})%>
                </select>
            </div>
            <div class="mb-3">
              <label for="pages" class="form-label">Pages</label>
              <input required  type="number" name="pages" placeholder="Pages" class="form-control" id="pages">
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input required  type="number" name="price" placeholder="Price" class="form-control" id="bookTitle">
              </div>
              <div class="mb-3">
                <label for="">Description</label>
                <textarea required  class="form-control" name="description" id="description" cols="30" rows="10"></textarea>
              </div>
            <button type="submit" class="btn btn-primary">Add</button>
          </form>
    </div>
</div>